.top{
    margin-bottom: 150px;
}

.top-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.top-slide__inner{
    display: flex;
    min-height: 700px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.middle-slide__photo{
    position: revert;
    width: 50%;
    height: 100%;
}

.middle-slide__photo img{
    position: revert;
    object-fit: cover;
    z-index: -1;
}

.middle-slide__photo--1 img{
    top: 0px;
    left: 820px;
    width: 960px;
    height: 730px;
}

.middle-slide__photo--2 img{
    top: 0px;
    left: 790px;
    width: 830px;
    height: 730px;
}

.middle-slide__photo--3 img{
    top: 0px;
    left: 855px;
    width: 810px;
    height: 731px;
}

.top-slide__content{
    width: 50%;
    height: 100%;
    flex-basis: 183px;
    margin-top: -50px;
}

.top-slide__title{
    font-family: "Montserrat", serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.top-slide__text{
    font-size: 140%;
    text-align: justify;
}

.top-slide__btn{
    margin-left: auto;
}

.middle-slide__content{
    width: 50%;
    flex-basis: 600px;
    margin-top: -10px;
    height: 271px;
}

.middle-slide__title{
    font-family: "Montserrat", serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 8px;
}

.middle-slide__text{
    font-size: 140%;
    margin-bottom: 25px;
    text-align: justify;
}


.about{
    margin-bottom: 100px;
    overflow: hidden;
}

.about__inner{
    padding-bottom: 10px;
}

.about__title{
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.34;
    text-transform: uppercase;
    max-width: 390px;
    margin-bottom: 20px;
}

.about__textbox{
    margin-bottom: 80px;
    font-size: 125%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about__text{
    flex-basis: 387px;
    line-height: 1.2;
}

.about__text p{
    margin-bottom: 15px;
}

.about__text a{
    color: #2b47a3;
}

.about__text--bold{
    font-weight: 700;
    margin-right: 265px;
}

.photo-block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
}

.about__photos{
    margin-bottom: 80px;
}

.photo-item {
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-large {
    grid-column: span 4;
    grid-row: span 2;
}

.item-medium {
    grid-column: span 2;
    grid-row: span 2;
}

.item-small {
    grid-column: span 1;
    grid-row: span 1;
}

.about__item-title{
    width: 160px;
    margin-bottom: 7px;
    margin-left: 10px;
    font-size: 22px;
}

.about__item__photo{
    position: revert;
    margin-left: 10px;
    width: 512px;
    height: 314px;
    overflow: hidden;
}

.about__item__photo img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__title-slider{
   margin-bottom: 25px;
}

.about__slider{
    width: 1600px;
}

.about__btn{
    padding-top: 20px;
}



@media (max-width: 1640px) {
   .products__items{
       position: static;
   }

   .products__title{
      width: 100%;
       margin-bottom: 50px;
   }
}

@media (max-width: 1240px){
    .products__item-img{
        width: 100%;
    }
}

@media (max-width: 1040px) {
    .about__textbox{
       display: block;
    }
    .accordeon__inner{
        padding-left: 0px;
    }
    .footer__img{
       display: none;
    }
    .footer__nav{
        margin-right: 0;
    }
}

@media (max-width: 992px) {
    .header__title{
        display: none;
    }
    .menu{
        margin-left: 0;
        margin-right: 0;
    }
    .about__textbox{
        margin-bottom: 50px;
    }
}

@media (max-width: 850px) {
    .top-slide__inner{
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .top-slide__img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .top-slide__btn{
        margin: 50px auto 20px;
    }
    .products__items{
        flex-wrap: wrap;
        justify-content: center;
    }
    .products__item{
        margin-bottom: 20px;
        width: 45%;
    }
}

@media (max-width: 768px) {
    .accordeon__triger{
       display: block;
        padding-bottom: 20px;
    }
    .accordeon__triger-title{
        padding-bottom: 10px;
    }

    .accordeon__item::before{
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 25px;
    }

    .video__box{
        min-height: 475px;
    }
    .footer__top{
        display: block;
    }
    .footer__logo{
        margin-bottom: 20px;
        display: inline-block;
    }

    .footer__item-form{
       max-width: 400px;
    }

    .footer__social-list{
        margin-top: 30px;
        display: flex;
        gap: 0 40px;
        margin-left: 0;
        margin-right: 0;
    }

    .footer__social-item + .footer__social-list{
        margin-top: 0;
    }

    .footer__nav-list{
        gap: 10px 20px;
        flex-wrap: wrap;
    }
}

@media (max-width: 630px) {
    .about__inner{
        padding-left: 0;
    }
    .about__btn{
        padding-left: 0;
    }
    .products__item{
        width: 100%;
    }
    .products__item-img{
        width: 80%;
    }
}

@media (max-width: 475px) {
    .top-slide__img{
        display: none;
    }
    .top-slide__content{
        flex-basis: 100%;
        order: -1;
        text-align: center;

    }
    .top-slide__img--mini{
        width: 60%;
        margin: 0 auto;
    }
}

@media (max-width: 420px) {
    .header__inner{
        flex-wrap: wrap;
        align-items: center;
    }
    .logo, .user-nav{
        order: -1;
    }
    .menu{
        padding-top: 30px;
        text-align: right;
        width: 100%;
    }


    .about__slider{
        width: 1500px;
    }

    .video__box{
        min-height: 225px;
    }
    .top,
    .products,
    .video{
        margin-bottom: 50px;
    }

    .footer__top{
        margin-bottom: 30px;
    }

    .footer__item + .footer__item{
        margin-bottom: 30px;
    }
    .footer{
        padding: 50px 0;
    }
}

@media (max-width: 375px) {
    .about__item img{
        width: 280px;
    }
    .about__slider{
        width: 1200px;
    }
}



@media (max-width: 420px) {
    .logo, .user-nav{
        order: -1;
    }
    .menu{
        padding-top: 30px;
        text-align: right;
        width: 100%;
    }

    .about__item img{
        width: 365px;
    }

    .about__slider{
        width: 1500px;
    }

    .video__box{
        min-height: 225px;
    }
    .top,
    .products,
    .video{
        margin-bottom: 50px;
    }

    .footer__top{
        margin-bottom: 30px;
    }

    .footer__item + .footer__item{
        margin-bottom: 30px;
    }
    .footer{
        padding: 50px 0;
    }
}