.container-arrow{
    padding-bottom: 25px;
}

.video-container {
    margin: auto;
    height: 80%;
    width: 80%;
}

.video-container video {
    height: 100%;
    width: 100%;
}

.video-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-preview img {
    width: 80%;
    height: auto;
}

.play-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.period-description p{
    font-size: 1.6em;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

