<div id="photoDetails" class="details">
    <div class="details-content">
        <span class="close" onclick="closeDetails()">&times;</span>
        <div class="details-image">
            <img id="details-image" src="" alt="">
        </div>
        <div class="details-info">
            <p><strong>Название:</strong> <span id="details-title"></span></p>
            <p><strong>Источник:</strong> <span id="details-source"></span></p>
            <p><strong>Теги:</strong> <span id="details-tags"></span></p>
            <p><strong>Период:</strong> <span id="details-period"></span></p>
        </div>
    </div>
</div>