<div class="photo-block">
    <div class="photo-item item-medium"><img src="../static/images/photo_block-index/1.jpg" alt="Photo 1"></div>
    <div class="photo-item item-medium"><img src="../static/images/photo_block-index/4.png" alt="Photo 6"></div>
    <div class="photo-item item-medium"><img src="../static/images/photo_block-index/5.jpg" alt="Photo 5"></div>
    <div class="photo-item item-large"><img src="../static/images/photo_block-index/3.jpg" alt="Photo 3"></div>
    <div class="photo-item item-small"><img src="../static/images/photo_block-index/6.jpg" alt="Photo 4"></div>
    <div class="photo-item item-small"><img src="../static/images/photo_block-index/7.jpg" alt="Photo 7"></div>
    <div class="photo-item item-small"><img src="../static/images/photo_block-index/8.jpg" alt="Photo 8"></div>
    <div class="photo-item item-small"><img src="../static/images/photo_block-index/2.jpg" alt="Photo 2"></div>
</div>