<h2>«ТЕЛЕРЕКЛАМА ХОРОША ТЕМ, ЧТО ЕЕ НИКОГДА НЕ ПРЕРЫВАЮТ»</h2>
<p>
    В рамках исследования истории ставропольской рекламы и ее медиаотражения студенты кафедры рекламы и связей с
    общественностью взяли интервью у главного редактора коммерческого отдела Государственной телевизионной и
    радиовещательной компании «Ставрополье», Ольги Буневич. Беседа была посвящена становлению и развитию
    телевизионной рекламы на Ставрополье в период с 1991 года по 2010-е годы. Именно в данный промежуток времени
    телевидение становится мощным каналом продвижения коммерческой рекламы, где закладываются основы для
    создания современной телевизионной рекламы.
</p>
<h3>
    – Какие жанры телевизионной рекламы появились в период 1990-х годов?
</h3>
<p>
    – В 1990-е годы самое первое, что появилось в региональной телевизионной рекламе – это объявления, которые дикторы
    читали в студии. Выглядело это следующим образом: ведущий появлялся в кадре на фоне скромного интерьера (однотонный
    фон, столик, ваза с цветами) и по порядку мог записать пять-шесть рекламных объявлений. А также в начале 90-х
    появляются бегущие строки. Если на сегодня в бегущих строках дублируется информация новостных сводок,
    то в постсоветский период бегущие строки отражали коммерческие предложения, по типу: куплю авто, продам гараж и
    т.д. В общем, абсолютно все, что касается сферы купли-продажи, рыночных отношений можно было найти в бегущей строке.
    Хочу отметить, что до появления рекламных роликов и рекламных объявлений наиболее популярным жанром являлись
    рекламные заставки-объявления, когда на однотонном фоне появлялось небольшое количество текста с контактными данными
    организации или фирмы. Заставка виднелась на экране в течении нескольких секунд, чтобы каждый зритель успел прочесть
    информацию, записать или запомнить адрес, номер телефона и название фирмы. Очень часто подобные объявления
    сопровождались приятной мелодией на фоне и голосом диктора, озвучивающего рекламную информацию.
</p>
<h3>
    – Транслировалась ли реклама федерального уровня на региональных каналах?
</h3>
<p>
    – Да, конечно. В 90-х годах стали появляться региональные телеканалы. Этим телеканалам нужно было как-то заполнять
    телеэфир. Чтобы заполнить эфир, телеканалы закупали у крупных федеральных фирм готовый видеоконтент: фильмы,
    передачи, полнометражные сериалы и т. д. И очень часто рассчитывались не деньгами, а на бартерной основе.
    То есть фирма отправляла сериал телеканалу в свободное пользование, а взамен телеканал был обязан крутить на ТВ ту
    рекламу, которую крупные фирмы-продавцы присылали. Кроме того, на региональных телеканалах крутили ролики и западных
    брендов, пришедших в Россию в 90-е годы. Наряду с этим у региональных каналов начинается производство собственных
    роликов. Таким образом и заполнялся эфир.
</p>
<h3>
    – Ориентировалась ли телевизионная реклама 1990-х годов на конкретную аудиторию?
    Или тогда отсутствовала речь о сегментации зрителей?
</h3>
<p>
    – В 90-х годах как такового интернета не было. Существовало радио и телевидение. Даже наружной рекламы в городе было
    гораздо меньше по сравнению с радио- и телевизионной рекламой. Она все более активно стала появляться к 2000-м
    годам. В период 1991–2000 гг. реклама на ТВ только тестировалась, поэтому крутился абсолютно разный контент для
    разных категорий аудитории. По моему мнению, сегментации зрителей в 90-е годы еще не было. Более детально о вопросе
    разделения контента для каждой группы аудитории задумались только к концу десятилетия.
</p>
<h3>
    – Какая же была реакция аудитории после массового появления и распространения рекламы на ТВ?
</h3>
<p>
    – Не могу дать однозначный ответ на поставленный вопрос. Но стоит отметить, что спрос на подобную рекламу был, как и
    у начинающих предпринимателей, так и у обычных граждан, желающих что-либо купить-продать. Особенно были актуальны
    объявления о продаже квартир, часто они выражались в формате бегущих строк. И знаете, какого-то негативного
    отношения к бегущим строкам на первом этапе зарождения рекламы не было. Это уже со временем данный формат наскучил и
    стал вызывать негативную реакцию.
</p>
<h3>
    – То есть любой гражданин имел возможность заказать и купить рекламу на ТВ, чтобы она оказалась в эфире?
</h3>
<p>–Абсолютно верно.</p>
<h3>
    – Каким образом строилась форма оплаты телерекламы?
</h3>
<p>
    – Форма оплаты рекламы на бартерной основе зависела от потребностей какой-то конкретной телекомпании. Допустим, если
    в телевизионную студию нужны были компьютеры или иная техника, руководство компании предлагало бартерный обмен.
    Телекомпания рекламирует фирму по производству техники, а взамен на это магазин предоставляет компьютеры для
    телестудии. Частные лица оплачивали рекламный контент исключительно в денежной сумме.
</p>
<h3>
    – Насколько дорогой или дешевой была телевизионная реклама, чтобы обычный гражданин имел возможность ее приобрести?
</h3>
<p>
    – Смотря какая реклама. Все зависело от количества выходов контента, от хронометража, прайм-тайма. Для каждого жанра
    рекламы была своя стоимость и схема расчета. Например, стоимость бегущей строки зависела от количества слов в
    рекламе, рекламные объявления зависели от хронометража и допустимого объема символов и т.д.
</p>
<h3>
    – Была ли регламентирована цензура на телевидении в 1990-е годы?
</h3>
<p>
    – Ни о какой цензуре и речи не могло быть. В 90-е годы на ТВ и алкоголь свободно рекламировался, и табак. Причем
    такая реклама занимала большую часть эфирного времени, транслировалась и днем, и ночью.
</p>
<h3>
    – Согласны ли Вы с утверждением, что реклама 90-х годов легла в основу становления и развития рекламы 2000-х годов?
</h3>
<p>
    – Конечно, с чего-то же нужно было начинать развитие. Если на Западе в эти годы процесс производства видеорекламы
    уже был цельно сформирован, то в России процесс развития видеопродакшена только начинался. Какие-то элементы были
    вестернизированный у западных креативных агентств, но одновременно отечественные телестудии придумывали собственные
    фишки.
</p>
<h3>
    – Как Интернет и цифровые технологии повлияли на формирование рекламного рынка на Ставрополье в 2000-е годы?
</h3>
<p>
    – Если этот период брать, мне кажется, что в начале двухтысячных, ну вот очень малое влияние. Но сказать, что прям
    как-то резко народ использовал интернет – нет. Стороной интернет не обходили, просто он как бы не очень резко
    внедрился. Может быть, где-то там в столице это было более резко, но у нас нет. Мне кажется, что где-то к годам
    2015-м интернет стал больше внедряться в рекламный рынок, уже когда все соцсети были в обязательном порядке.
</p>
<h3>
    – Какие рекламные форматы были самыми популярными в период 2000-х годов? Какие виды рекламы чаще всего
    использовались?
</h3>
<p>
    – Кстати, примерно вот в этот период, где-то в десятые годы у нас в отделе было много тех, кто пытался использовать
    непрямую рекламу, а что-то похожее на новость с рекламой.
</p>
<h3>
    – Нативно, да?
</h3>
<p>
    – Да, но не в интернете, а на телевидении использовалась такая практика.
</p>
<h3>
    – Какие компании или организации чаще всего выступали заказчиками телевизионной рекламы?
</h3>
<p>
    – До 2015 года многие региональные компании, которые сами здесь организовались и работали, занимались размещением
    рекламы напрямую из своих местных офисов. А где-то, наверное, с 2015-2016 годов пошла тенденция взаимодействия с
    федеральными агентствами. Допустим, было агентство «Video International», сейчас оно называется «Медиареклама» – это
    федеральная структура, у которой здесь есть представительство. А если брать конкретных рекламодателей, то примерно в
    начале десятых годов был бум автомобильных компаний, то есть реклама продажи автомобилей. Автомобильные центры и
    организации были частыми заказчиками. Также к активным заказчикам рекламы можно было отнести строительные
    организации. Где-то в середине 2000-х годов данные фирмы активно начали закупать рекламу и заполнять рекламное
    пространство на ТВ.
</p>
<h3>
    – Ужесточилась ли цензура в период 2000-2010 годов?
</h3>
<p>
    С появлением ФЗ «О рекламе» с телевидения ушел весь рекламный контент, касающийся алкоголя, табака, появились
    ограничения в рекламе медицинских заведений, препаратов. Важной составляющей являлось соблюдение всех юридических
    моментов: обязательное наличие лицензии, противопоказания. Поменялись рекламодатели. Одни просто ушли и их место
    заняли другие.
</p>