<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css">
    {% block style %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
           <div class="header__inner">
               <div class="header__info">
                   <nav class="menu">
                       <ul class="menu__list">
                           <a href="/" class="logo">
                                <img class="header__logo" src="../static/images/logo.svg" alt="">
                           </a>
                           <li class="menu__item">
                               <a href="/" class="menu__link">Главная страница</a>
                           </li>
                           <li class="menu__item">
                               <a href="/lectures" class="menu__link">Лекции</a>
                           </li>
                           <li class="menu__item">
                               <a href="/photos" class="menu__link">Архив фотографий</a>
                           </li>
                           <li class="menu__item">
                               <a href="/paper" class="menu__link">Экспертное мнение</a>
                           </li>
                       </ul>
                   </nav>
               </div>
           </div>
        </div>
    </header>
<div class="container">
    <h3 class="header__title">
       ИСТОРИЯ СТАВРОПОЛЬСКОЙ РЕКЛАМЫ
    </h3>
</div>
    <div class="main">
    {% block content %}{% endblock %}
    </div>

   <footer class="footer">
       <div class="container">
            <div class="footer__top">
                <a href="#" class="logo logo__a1">
                    <img src="../static/images/logo.svg" class="footer__logo logo__1" alt="">
                </a>
                <a href="#" class="logo__a2">
                    <img src="../static/images/logos/10Asset_1_1.svg" class="footer__logo logo__2" alt="">
                </a>
                <a href="#" class="logo__a3">
                    <img src="../static/images/logos/vshk.svg" class="footer__logo logo__3" alt="">
                </a>
        </div>
   </footer>

       <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
       <script src="../static/js/main.js"></script>

</div>
</body>
</html>