{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}
    <section class="top">
        <div class="top__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="top-slide">
                            <div class="container">
                                <div class="top-slide__inner">
                                    <div class="middle-slide__content">
                                        <h1 class="middle-slide__title">
                                          Знакомство
                                        </h1>
                                        <p class="top-slide__text">
                                            Сайт подготовлен выпускниками 4 курса направлений
                                            «Информационные системы и технологии» и «Реклама и связи с общественностью»
                                            СКФУ. Мы объединили свои знания и творческий потенциал,
                                            чтобы показать вам, какой разнообразной и интересной
                                            может быть реклама на Ставрополье.
                                        </p>
                                    </div>
                                    <div class="middle-slide__photo middle-slide__photo--1">
                                        <img src="../static/images/slider-top/slide_bg_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="top-slide">
                        <div class="container">
                             <div class="top-slide__inner">
                                 <div class="middle-slide__content">
                                     <h1 class="middle-slide__title">
                                         Видеолекции
                                     </h1>
                                     <p class="middle-slide__text">
                                         Мы подготовили видеолекции, в которых вы узнаете о развитии ставропольской рекламы.
                                         Погрузитесь в историю рекламы от дореволюционного времени до современности и
                                         изучите изменения в стилях, методах и технологиях.
                                     </p>
                                     <a href="/lectures" class="middle-slide__btn button">
                                        Смотреть
                                     </a>
                                 </div>
                                 <div class="middle-slide__photo middle-slide__photo--2">
                                    <img src="../static/images/slider-top/slide_bg_2.png" alt="">
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
                    <div class="swiper-slide">
                        <div class="top-slide">
                            <div class="container">
                                 <div class="top-slide__inner">
                                     <div class="middle-slide__content">
                                         <h1 class="middle-slide__title">
                                             Архивная реклама
                                         </h1>
                                         <p class="middle-slide__text">
                                             Мы собрали примеры ставропольской рекламы самых разных периодов.
                                             Исследуйте богатую историю Ставропольского края через архивные фотографии,
                                             которые помогут увидеть, как менялся край и его реклама на протяжении десятилетий.
                                         </p>
                                         <a href="/photos" class="middle-slide__btn button">
                                            Смотреть
                                         </a>
                                    </div>
                                     <div class="middle-slide__photo middle-slide__photo--3">
                                        <img src="../static/images/slider-top/slide_bg_3.png" alt="">
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="container">
                <div class="container container-arrow">
                    <div class="swiper-button-prev top-button-prev">
                        <img src="../static/images/Arrow-left.svg" alt="">
                    </div>
                    <div class="swiper-button-next top-button-next">
                        <img src="../static/images/Arrow-right.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="about__inner">
                <h2 class="about__title">
                    Развитие рекламы на Ставрополье
                </h2>
                <div class="about__textbox">
                    <div class="about__text">
                        <p>
                            Мы рады приветствовать вас на нашем информационном портале,
                            который посвящен истории рекламы Ставропольского края – одного из самых живописных
                            и богатых культурных регионов России.
                        </p>
                        <p>
                            Основная цель проекта — показать разнообразие и богатство ставропольской рекламы,
                            ее историю и развитие. В наших материалах мы изучили рекламу разных периодов,
                            чтобы каждый мог найти что-то интересное и полезное для себя.
                        </p>
                        <p>
                            Какой была дореволюционная реклама и была ли она вообще?
                            Зачем реклама советскому государству, в котором нет конкуренции?
                            Какие образы использовала советская реклама и почему они так похожи друг на друга?
                            Что стало с рекламой после распада СССР? Была ли цензура в 2000-е гг.?
                            Когда появилась современная реклама?
                        </p>
                    </div>
                    <div class="about__text about__text--bold">
                        <p>
                            Ответы на все эти вопросы вы найдете на нашем сайте. Смотрите видеолекции,
                            изучайте архивную рекламу, <a href="/paper">читайте специальное интервью с главным редактором
                            коммерческого отдела ГТРК «Ставрополье».</a>
                        </p>
                        <p>
                            Присоединяйтесь к нам, чтобы углубить свои знания о развитии рекламы на территории
                            Ставрополья. Ставропольская реклама разнообразна и по-настоящему интересна. Уверены, мы
                            сможем вас приятно удивить!
                        </p>
                    </div>
                </div>
                <div class="about__photos">
                    {% include "includes/photo_index.html" %}
                </div>
                <div class="about__title-slider">
                    <h2 class="about__title">
                        Видеолекции
                    </h2>
                </div>

                <div class="about__slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about__item">
                                <h4 class="about__item-title">
                                    1917-1945 гг.
                                </h4>
                                <div class="about__item__photo">
                                    <img src="../static/images/about-slider/1917-1945.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__item">
                                <h4 class="about__item-title">
                                    1945-1991 гг.
                                </h4>
                                <div class="about__item__photo">
                                    <img src="../static/images/about-slider/1945-1991.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__item">
                                <h4 class="about__item-title">
                                    1991-2000 гг.
                                </h4>
                                <div class="about__item__photo">
                                    <img src="../static/images/about-slider/1991-2000.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__item">
                                <h4 class="about__item-title">
                                    2000-2010 гг.
                                </h4>
                                <div class="about__item__photo">
                                    <img src="../static/images/about-slider/2000-2010.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <div class="container container-arrow">
                    <div class="swiper-button-prev about-button-prev">
                        <img src="../static/images/Arrow-left.svg" alt="">
                    </div>
                    <div class="swiper-button-next about-button-next">
                        <img src="../static/images/Arrow-right.svg" alt="">
                    </div>
                </div>
                <div class="about__btn">
                    <a href="/lectures" class="button">Смотреть лекции</a>
                </div>
        </div>
    </section>
{% endblock %}