{% extends 'base.html' %}

{% block title %}
Фото архив
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/photo.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Фото архив</h2>
        <form method="get" action="{{ url_for('photos') }}" id="searchForm">
            <label for="tags">Поиск по тегам:</label>
            <select id="tags" name="tags" onchange="document.getElementById('searchForm').submit();">
                <option value="">Все теги</option>
                {% for tag in all_tags %}
                    <option value="{{ tag }}" {% if request.args.get('tags') == tag %}selected{% endif %}>{{ tag }}</option>
                {% endfor %}
            </select>
        </form>

        {% for period_img, photos in photos_by_period.items() %}
        <h2>{{ period_img }}</h2>
            <div class="photo">
                {% include "includes/photo_block.html" %}
            </div>
        {% endfor %}
    </div>

    {% include "includes/photoDetails.html" %}


{% endblock %}
